﻿@model MvcAppNew.Models.Invoice


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="invoice-title">
                <h2>Invoice</h2><h3 style="margin-top:5px" class="pull-right">Order <kbd id="invoiceId">#@Model.InvoiceID</kbd> </h3>
                <h4 style="margin-top:5px">Date : <span id="dateOfSale" class="label label-success"></span></h4>
                <h3 id="displayUser"></h3>
            </div>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Order summary</strong></h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <td><strong>Item</strong></td>
                                    <td class="text-center"><strong>Price</strong></td>
                                    <td class="text-center"><strong>Quantity</strong></td>
                                    <td class="text-right"><strong>Totals</strong></td>
                                </tr>
                            </thead>
                            <tbody id="purchasedProducts">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            var customerName=$('#userName').text();
            console.log(customerName);
            $('#displayUser').text("Customer Name : "+customerName);
            $.ajax({
                url: "http://localhost:57837/api/bill/"+@Model.InvoiceID,
                async:true,
                method: "GET",
                success: function (data) {
                    var monthNames = ["JAN", "FEB", "MAR", "APR", "MAY", "JUN", "JUL", "AUG", "SEP", "OCT", "NOV", "DEC"];
                    var dos=data[0].DateOfSale;
                    var invoiceDate=new Date(dos);
                    dos=invoiceDate.getDate()+"-"+monthNames[invoiceDate.getMonth()]+"-"+invoiceDate.getFullYear();
                    $('#dateOfSale').text(dos);
                    var grandTotal=0;
                    for(var i=0;i<data.length;i++)
                    {
                        console.log(data[i].ProductName);
                        var appendString="<tr><td>"+data[i].ProductName+"</td><td class='text-center'>"+data[i].Price+"</td><td class='text-center'>"+data[i].Quantity+"</td><td class='text-right'>"+data[i].Total+"</td></tr>";
                        grandTotal=grandTotal+parseInt(data[i].Total);
                        console.log(grandTotal);
                        $('#purchasedProducts').append(appendString);
                    }
                    $('#purchasedProducts').append( $("<tr><td class='no-line'></td><td class='no-line'></td><td class='no-line text-center'><strong>Total</strong></td><td class='no-line text-right'><b>"+grandTotal+"</b></td></tr>") );
                }
            });
        });
    </script>
}