﻿@model MvcAppNew.Models.ViewModel

@{
    ViewBag.Title = "Index";
}

<script type="text/javascript">

    function calculateAmount(quantity) {
        var price = 120;
        var total = quantity * price;
        var element = document.getElementById("amount");
        element.value = total;

    }

    function GetDynamicTextbox(value) {
        @*var array = @Html.Raw(Json.Encode(@ViewBag.ProductList));
        for(var i = 0; i < array.length; i++) {
            var stringNew=JSON.stringify(array[i]);
            alert(stringNew)
        }*@

        var e = document.getElementById("dropdownlistValue");
        var strUser = e.options[e.selectedIndex].text;
        var value = e.options[e.selectedIndex].value;

        return '<div>' + strUser + '<input type="text" name="txttest" onblur="calculateAmount(this)" style="width:75px;" /><a href="#" onclick="RemoveTextBox(this)" ><img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-close-16.png"></img></a><p id="amount">2</p></div>';
    }

    function AddTextBox() {

        var div = document.createElement('DIV');

        div.innerHTML = GetDynamicTextbox("");

        document.getElementById("divCont").appendChild(div);

    }

    function RemoveTextBox(div) {

        document.getElementById("divCont").removeChild(div.parentNode.parentNode);

    }

</script>



<h2>New Order</h2>

@using (Html.BeginForm("Create","Order"))
{
    <div class="form-group">
        <label>Date of sale</label>
        @Html.TextBoxFor(m => m.DateOfSale, new {@class="form-control"})
    </div>
    <div class="form-group">
        <label>Product</label>
                @*@Html.DropDownListFor(m => m.ProductID, ViewBag.ProductList as SelectList, new { @class = "form-control", @onchange = "AddTextBox()" })*@
                @Html.DropDownListFor(m => m.ProductID, ViewBag.ProductList as SelectList, new { @id="dropdownlistValue", @class = "form-control", @onchange = "AddTextBox()" })
    </div>
    
    <div>
        <div id="divCont">
            @*<div>
                <input type="text" name="txttest" style="width:200px;" />
                <input type="button" onclick="AddTextBox()" value="Add" />
            </div>*@
        </div>
    </div>
}



