﻿@model MvcAppNew.Models.ViewModel

@{
    ViewBag.Title = "Index";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- Trigger the modal with a button -->
<div>
    <button type="button" id="modalBtn" class="btn btn-info" data-toggle="modal" data-target="#myModal">Purchase Product</button>
</div>

<table id="selectedProducts" style="font-size:14px" class="table">
    <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Total</th>
    </tr>
</table>

<div id="grandTtl" class="pull-right">
</div>

<button type="button" id="generateBill" class="btn btn-warning btn-lg" >Generate Bill</button>
<div id="logForUser"></div>


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Product</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="products">Product Name</label>
                        <select style="height:34px" class="form-control" name="products" id="products" required>
                            <option value="12000" selected>Select</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="quantity">Quantity</label>
                        <select style="height:34px" class="form-control" id="quantity">
                            <option value="0" selected>0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="price">Price</label>
                        <input type="text" class="form-control" id="price" required readonly/>
                    </div>
                    <div class="form-group">
                        <label for="total">Total</label>
                        <input type="text" class="form-control" id="total" required readonly />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal" id="addProduct">Add</button>
            </div>
        </div>

    </div>
</div>


@section scripts{
    <script type="text/javascript">
        var array = @Html.Raw(Json.Encode(@ViewBag.ProductList));
        var product=[];
        var grandTotal=0;
        var purchaseList={
        };
        var cartDetail={
            items:[]
        };
        var cart={
        };

        //Retreive products from ViewBag
        for(var i = 0; i < array.length; i++) {
            var p=array[i].Text;
            product.push(p);
        }


        //Insert product in dropdown list
        $(document).ready(function() {
            $.each(product, function(val, text) {
                $('#products').append( $('<option></option>').val(val).html(text) )
            });
            $('#total').val("0");
        });

        $('#modalBtn').click(function(e){
            $('#products').val("12000");
            $('#quantity').val("1");
            $('#price').val("0");
            $('#total').val("0");
            if($('#products').val()==="12000"){
                $('#addProduct').attr("disabled","disabled");
            }
            else{
                $('#addProduct').removeAttr("disabled");
            }
        });

        $('#products').change(function(){
            if($('#products').val()==="12000"){
                $('#addProduct').attr("disabled","disabled");
            }
            else{
                $('#addProduct').removeAttr("disabled");
            }
            var selectedProduct=(parseInt($('#products').val()))+1;
            //alert($('#products option:selected').val());
            $.ajax({
                url:"http://localhost:57837/api/products/"+selectedProduct,
                method:"GET",
                success:function(data){
                    $('#price').val(data.Price);
                    var qty=parseInt($('#quantity').val());
                    var price=parseInt($('#price').val());
                    $('#total').val(qty*price);
                }
            });
        });

;

        $('#quantity').change(function(){
            var qty=parseInt($('#quantity').val());
            var price=parseInt($('#price').val());
            $('#total').val(qty*price);
        });

        $('#addProduct').click(function(e){

            //Get Customer Name who is Logged In
            var customerName=$('#userName').text();
            e.preventDefault();

            //Get customer ID to allocate to Invoice
            $.ajax({
                url:"http://localhost:57837/api/Customers/"+customerName,
                method:"GET",
                success:function(data){
                    console.log(data[0].Id);
                    cart.CustomerID=data[0].Id;
                }
            });

            //Store values from modal form
            var productId=$('#products').val();
            var pId=parseInt($('#products').val())+1;
            var productName=$('#products option:selected').text();

            //Remove the item from list to avoid duplicate entry
            $("#products option[value*='"+productId+"']").remove();
            $('#products').append("<option value='12000'>SELECT PRODUCT</option>")

            //Store values from modal form
            var price=$('#price').val();
            var quantity=$('#quantity').val();
            var total=$('#total').val();

            //Function to return object
            function purchaseList() {
                return {
                    'InvoiceID':   '',
                    'ProductID':    '',
                    'Quantity':     '',
                    'Total':    ''
                };
            }

            var pList=new purchaseList();


            //Initialize variables
            var invoiceId=0;
            var date=new Date();
            var currentDate=(parseInt(date.getUTCMonth())+1)+"-"+date.getDate()+"-"+date.getFullYear();
            cart.DateOfSale=currentDate;
            grandTotal=grandTotal+parseInt(total);
            //cart.GrandTotal=grandTotal;

            //Print grand total
            document.getElementById("grandTtl").innerHTML="<h4 class='alert-primary'>TOTAL : "+grandTotal+"</h4>";

            //call invoice method for last id present in the list
            $.ajax({
                url:"http://localhost:57837/api/Invoices/",
                method:"GET",
                success:function(data){
                    var i=data.length;
                    invoiceId=data[i-1].InvoiceID;
                    pList.InvoiceID=invoiceId+1;
                    console.log(purchaseList.InvoiceID);
                }
            });

            
            //Initialize member of view model
            pList.ProductID=pId;
            pList.Quantity=parseInt(quantity);
            pList.Total=parseInt(total);

            //cartDetail.items.push(invoiceId,productId,quantity);
            cartDetail.items.push(pList);

            console.log(cartDetail.items);
            $('#selectedProducts').append("<tr><td>"+productName+"</td><td>"+quantity+"</td><td>"+price+"</td><td>"+total+"</td></tr>");

        });

        $('#generateBill').click(function(e){
        
            $.ajax({
                url:"http://localhost:57837/api/Invoices/",
                method:"POST",
                data:cart
            }).done(function(){
                console.log(cart);
                console.log("Done");
            }).fail(function(){
                console.log(cart);
            });

            setTimeout(function(){
                //console.log("Redirected");
                for(var i=0;i<cartDetail.items.length;i++)
                {
                    $.ajax({
                        url:"http://localhost:57837/api/InvoiceDetails/",
                        async: true,
                        method:"POST",
                        data:cartDetail.items[i]
                    }).done(function(){
                        console.log("Success");
                        console.log(cartDetail);
                    }).fail(function(){
                        console.log("Fail");
                        console.log(cartDetail);
                    });
                }
            }, 1000);



            document.getElementById("logForUser").value="Generating Invoice. Please wait !";
                setTimeout(function(){
                    //console.log("Redirected");
                    window.location = "/invoice/details/"+cartDetail.items[0].InvoiceID;
                }, 2000);

        });


           

            //e.preventDefault();

    </script>
}


@*@using (Html.BeginForm("Create", "Order"))
{
    <table>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        <tr>
            <td>
                @Html.DropDownListFor(m => m.ProductID, ViewBag.ProductList as SelectList, new { @class = "form-control", @onchange = "AddTextBox()" })
            </td>
            <td>
                @Html.TextBoxFor(m => m.Quanitity, new { @class="form-control"})
            </td>
            <td>
                @Html.TextBoxFor(m => m.Price, new { @class = "form-control" })
            </td>
            <td>
                @Html.TextBoxFor(m => m.Total, new { @class="form-control"})
            </td>
        </tr>
    </table>


    <div>
        <div id="divCont">
        </div>
    </div>
}*@




